*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0.5rem;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button {
  font: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  justify-content: space-around;
}

#drop-down-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drop-down-menu-button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
#drop-down-menu-button:hover {
  border: 1px solid blue;
  background-color: transparent;
  color: blue;
}

#nav-links {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

a {
  text-decoration: none;
  /* border-bottom: 1px solid black; */
  text-align: center;
  color: black;
}
a:hover {
  color: red;
  border-bottom: none;
}

.hidden {
  display: none;
}
